/* header */

/* .openbtn{
	/*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
	/* position: relative;
	background:#666;
	cursor: pointer;
    width: 50px;
    height:50px;
	border-radius: 5px;
} */

/*ボタン内側*/
/* .openbtn span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    /* position: absolute;
  } */

html {
    scroll-behavior: smooth;
}

/* .menu-nav {
    /* position: fixed; 画面上部に固定 */
    /* top: 0; 上端に配置 */
    /* width: 100%; 画面幅全体に広げる */
    /* background-color: #fff; 背景色を指定（任意） */
    /* z-index: 1000; 他の要素よりも前面に表示 */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 影をつける（任意） */ */
  /* } */

.nav /*justify-content-end*/ { 
    /* position: fixed; 画面上部に固定 */
    list-style: none;
    display: flex;
    flex-direction: row;
    border-radius: 10px; /* 角を丸くする */
    position: fixed; /*背景画像上に絶対位置で配置*/
    /* z-index: 10; 他の要素より前面に表示されるように設定 */
    width: 40%;
    height: auto;
    margin: 30px 0;
    padding-left: 45%;
    justify-content: space-around; /* アイテム間に均等なスペースを配置 */
    /* z-index: 1010; 他の要素よりもさらに前面に表示されるように設定 */
}

.nav >li >a{
    text-decoration: none;
    font-size: 25px;
    display: block;
    color: white;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5); /* 背景に半透明の黒を設定 */
    padding: 5px;
    border-radius: 5%;
    font-weight: bold;
}
.nav li a:hover {
    background-color: rgba(0, 0, 0, 0.8); /* ホバー時に背景を濃くする */
  }

.background-container {
    position: relative;
    background-image: url('../img/Music\ Laboratory\ Link.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 780px; /*画像の表示エリアの高さを調整*/
    filter: brightness(1.2)
  }
  
  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* タイトルの色を設定 */
    font-size:90px; /* フォントサイズを調整 */
    text-align: center;
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
  }

/* main section1 */

.main {
    background-color: darkgrey;
}

.section1 {
    height: 780px;
    width: auto;
    display: flex;
}

.room-img {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    margin: 30px;
}

.room1 {
    width: 70%;
    margin-bottom: 50px;
    margin-right: 200px;
    border-radius: 30%;

    /* 初期状態では画像を画面の外に隠す */
    position: relative;
    left: -100%; /* 画像を左に隠す */
    opacity: 0;
    transition: left 2s ease-in-out, opacity 2s ease-in-out; /* アニメーション効果 */
}

/* スクロールで画像を表示するためのクラス */
.room1.show {
    left: 0; /* 元の位置に戻す */
    opacity: 1; /* 透明度を1にする */
}

.room2 {
    width: 70%;
    margin-left:200px;
    border-radius: 30%;

        /* 初期状態では画像を画面の外に隠す */
        position: relative;
        left: -100%; /* 画像を左に隠す */
        opacity: 0;
        transition: left 2s ease-in-out, opacity 2s ease-in-out; /* アニメーション効果 */
    }
    
    /* スクロールで画像を表示するためのクラス */
    .room2.show {
        left: 0; /* 元の位置に戻す */
        opacity: 1; /* 透明度を1にする */
    }

.text-content1 {
    display: flex;                /* フレックスボックスを使用 */
  justify-content: center;      /* 横方向の中央揃え */
  align-items: center;          /* 縦方向の中央揃え */
  height: 100vh;                /* コンテナの高さを画面全体に */
  text-align: center;            /* テキストを右寄せ */
  line-height: 5;
}

/* main section2 */

.section2 {
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}
.left {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.text-content2 {
    display: flex;
    flex-direction: column;                /* フレックスボックスを使用 */
  justify-content: center;      /* 横方向の中央揃え */
  align-items: center;          /* 縦方向の中央揃え */
  height: 50%;
  width: 50%;                /* コンテナの高さを画面全体に */
  text-align: center;            /* テキストを右寄せ */
  line-height: 3;
  font-size: large;
}

.iframe {
    width: 30%;   /* 幅を設定 */
    border: 0;     /* 枠線を削除 */
    margin-top: 5%;
  }

.outside-img {
    width: 70%;
    height: 60%;
    border-radius: 30%;
    float: right; /* 画像を右に浮かせる */
  justify-content: center;
  align-items: center;

  /* 初期状態では画像を画面の外に隠す */
  position: relative;
  right: -100%;
  opacity: 0;
  transition: right 2s ease-in-out, opacity 2s ease-in-out; /* アニメーション効果 */
}

/* スクロールで画像を表示するためのクラス */
.outside-img.show {
  right: 0; /* 元の位置に戻す */
  opacity: 1; /* 透明度を1にする */
}

/* footer */

.background-container2 {
    position: relative;
    background-image: url("../img/桜島.png");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 780px;
    filter: brightness(1.2) opacity(0.8); /* 明るさを少し上げ、透明度を80%にする */
    box-shadow: 0 0 35px 35px rgba(128, 0, 128, 0.5), /* purple のシャドウ */
    0 0 20px 20px rgba(169, 169, 169, 0.5); /* darkgray のシャドウ */
}

.footer-text {
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
  justify-content: space-evenly;    /* 水平方向に中央揃え */
  align-items: center;        /* 垂直方向に中央揃え */
  height: 100vh;              /* コンテナの高さを画面全体に */
  text-align: center;         /* テキストを中央揃え */
}

.SNS-content {
    display: flex;
    flex-direction: column;
    line-height: 3;
}

.SNS {
    font-size: 50px;
    font-weight: bold;
}

#i {
    padding: 20px;
    border-radius: 10%;
}

.p1 {
    font-size: 30px;
    margin-bottom: 20%;
    margin-left: 16%;
    font-weight: bold;
    text-decoration: underline;

}

.carousel {
    position: absolute;
    top: 43%;
    left: 62%;
    /* transform: translate(-50%, -50%); */
    width: 20%; /* 必要に応じて幅を調整 */
    z-index: 1; /* 背景画像の前面に配置 */
    height: 20%;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: aliceblue;
}

/* モバイル対応のスタイル */
@media (max-width: 768px) {
    .nav justify-content-end {
        width: 90%; /* ナビゲーションバーの幅を広げる */
        padding-left: 5%; /* 左側のパディングを減らす */
        justify-content: space-between; /* アイテム間のスペースを調整 */
        /* flex-direction: column; ナビゲーションアイテムを縦方向に並べる */
        /* text-align: center; */
    }

    .nav >li >a {
        font-size: 10px; /* フォントサイズを少し小さくする */
        padding: 10px; /* パディングを増やしてクリックしやすくする */
    }

    .background-container {
        height: 500px; /* 背景画像エリアの高さを縮小 */
    }

    .title {
        font-size: 50px; /* タイトルのフォントサイズを小さくする */
        line-height: 1.2;
    }

    .section1 {
        flex-direction: column; /* セクションを縦方向に並べる */
        height: auto; /* セクションの高さを自動に設定 *//
    }

    .room-img {
        width: 90%; /* 画像の幅を広げる */
        margin: 0 auto; /* 中央揃え */
    }

    .room1,
    .room2 {
        width: 100%; /* 画像を100%の幅で表示 */
        margin: 20px 0; /* 画像間にスペースを追加 */
        border-radius: 15%; /* 角を少し丸くする */
    }

    .text-content1 {
        height: auto; /* コンテナの高さを自動に設定 */
        line-height: 1.5; /* 行間を縮小 */
    }

    .section2 {
        flex-direction: column; /* セクションを縦方向に並べる */
        height: auto; /* セクションの高さを自動に設定 */
    }

    .text-content2 {
        width: 100%; /* コンテナの幅を100%に */
        font-size: medium; /* フォントサイズを少し小さくする */
    }

    h2 {
        font-size: 50px;
    }

    .iframe {
        width: 100%; /* iframeの幅を100%に */
        margin: 20px 0; /* 上下にスペースを追加 */
    }

    .outside-img {
        width: 90%; /* 画像の幅を広げる */
        height: auto; /* 高さを自動に設定 */
        margin: 20px auto; /* 画像を中央揃え */
    }

    .background-container2 {
            /* display: none; */
        height: 500px; /* 背景画像エリアの高さを縮小 */
    }

    .footer-text {
        flex-direction: column; /* フッターを縦方向に並べる */
        height: auto; /* コンテナの高さを自動に設定 */
        margin-top: 30%;
    }

    .SNS-content {
        line-height: 2; /* 行間を縮小 */
    }

    .SNS {
        font-size: 30px; /* フォントサイズを小さくする */
    }

    #i {
        padding: 10px; /* パディングを減らす */
        border-radius: 5%; /* 角を少し丸くする */
    }

    .p1 {
        font-size: 20px; /* フォントサイズを小さくする */
        margin-left: 0; /* 左マージンを削除 */
        text-align: center; /* テキストを中央揃え */
    }

    .carousel {
        top: o; /* カルーセルの位置を下げる */
        left: 50%; /* カルーセルを中央に配置 */
        transform: translate(-50%, -50%); /* 中央揃え */
        width: 100%; /* カルーセルの幅を広げる */
        height:auto;
        display: none;
    }

    .btn {
        bottom: 10px; /* ボタンの位置を下げる */
        right: 10px; /* ボタンの右マージンを減らす */
        padding: 8px 16px; /* パディングを小さくする */
        font-size: 10px; /* フォントサイズを小さくする */
    }
}
